@model LoginViewModel
@{
    ViewBag.Title = "Login";
}
    <div class="text-center" style="color:#003E60">
        <h1>@ViewBag.Title</h1>
    </div>
<form asp-controller="Account" asp-action="Login" method="post" class="mt-2">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input hidden asp-for="ReturnUrl" value="@ViewBag.ReturnUrl" />
    <div class="row form-group">
        <div class="col-sm-2">
            <label asp-for="Email"></label>
        </div>
        <div class="col-sm-10">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-sm-2">
            <label asp-for="Password"></label>
        </div>
        <div class="col-sm-10">
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-sm-2">
            <label asp-for="RememberMe">&nbsp;</label>
        </div>
        <div class="col-sm-10">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" asp-for="RememberMe">
                <label class="custom-control-label" asp-for="RememberMe">Remember me</label>
            </div>
        </div>
    </div>
    <div class="row form-group text-center">
        <div class="col-sm-12">
            <button type="submit" class="btn btn-primary">
                Login
            </button>
            <a asp-controller="Home" asp-action="Index" class="btn btn-warning">Back</a>
        </div>
    </div>
</form>
