@model RoleCreateViewModel
@{
    ViewBag.Title = "Create Role";
}
    <div class="text-center" style="color:#003E60">
        <h1>@ViewBag.Title</h1>
    </div>
<h3><a asp-controller="Role" asp-action="Index">Role management</a> &gt; <a asp-controller="Role" asp-action="Create"> @ViewBag.Title </a></h3>

<form asp-controller="Role" asp-action="Create" method="post" class="mt-2">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="row form-group">
        <div class="col-sm-2">
            <label asp-for="RoleName"></label>
        </div>
        <div class="col-sm-10">
            <input asp-for="RoleName" class="form-control" />
            <span asp-validation-for="RoleName" class="text-danger"></span>
        </div>
    </div>
    <div class="row form-group text-center">
        <div class="col-sm-12">
            <button type="submit" class="btn btn-primary">
                Create
            </button>
            <a asp-controller="Role" asp-action="Index" class="btn btn-warning">Back</a>
        </div>
    </div>
</form>
